[Desktop Entry]
Categories=Development;Qt;IDE;
Exec=monkeystudio
Name=Monkey Studio IDE
GenericName=MkS IDE
Terminal=false
Type=Application
Icon=monkeystudio
