[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Monkey Studio IDE
Comment=The best cross platform IDE available!
TryExec=monkeystudio
Exec=monkeystudio
Icon=monkeystudio
MimeType=text/*;inode/directory;
Actions=Open;
Categories=Development;Qt;IDE;

[Desktop Action Open]
Exec=monkeystudio %F
Name=Open With MkS

